apiVersion: v1
kind: Secret
metadata:
  name: sia-secret
  namespace: sia
type: Opaque
data:
  miniourl: YOUR MINIO URL HERE # echo -n https://minio.maxint.co/ | base64
  minioaccesskey: YOUR MINIO ACCESS KEY HERE
  miniosecretkey: YOUR MINIO SECRET KEY HERE
  siaapipassword: YOUR API PASSWORD HERE
  siawalletpassword: YOUR WALLET PASSWORD HERE
